body {
    background: #c0c0c0cc;
}

.principal{
    background: #CCCCCC;
    padding: 30px;
}

.itens{
    font-style: italic;
}

.beneficios{
    background: #FFFFFF;
    padding: 20px;
}

h2{
    text-align: center;
}

ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imgbeneficos{
    width: 50%;
}

p{
    text-align: center;
}

em strong{
    color: #4dff39
}

#banner{
    width: 100%;
}

h1{
    text-align: center;
}

#missao{
    font-size: 20px;
}